.button {
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 16px;
    padding: 3px 10px;
    color: var(--main-color);
    transition: .3s;
}

.button:hover {
    color: #fff;
    background-color: var(--main-color);
}