.nav {
    box-shadow: 0 0 22px -4px var(--main-color);
    font-family: font;
}

@media screen and (min-width:992px) {
    .nav {
        height: 65px;
    }
}



.toggle:focus {
    box-shadow: 0 0 0 4px var(--main-color);
}



.logo {
    display: flex;
    align-items: center;
}

.logo p {
    color: var(--main-color);
    font-size: 22px;
    margin-top: 20px;
    font-weight: bold;
}

.cont {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.links a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    transition: .3s;
}

.links a:hover {
    color: var(--main-color);
}

.links a.active {
    color: var(--main-color);
}