.cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartItem .remove {
    cursor: pointer;
    color: var(--main-color);
}

.cartItem:not(:last-of-type) {
    border-bottom: 1px solid var(--main-color);
}

.cartItem img {
    width: 70px;
    height: 70px;
}

.cartItem .counting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartItem .counting span {
    color: #fff;
    background-color: var(--main-color);
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px;
    border-radius: 4px;
}