.cart {
    position: relative;
    width: 85px;
    display: flex;
    left: 93%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cart .count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(243 4 4);
    position: absolute;
    top: -2px;
    text-align: center;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
}

.cartList {
    transform: translateX(400px);
    width: 400px;
    height: 100vh;
    transition: .3s;
    color: #fff;
    background-color: #2d2d2d;
    position: fixed;
    right: 0;
    top: 0;
}

.cartList.show {
    transform: translateX(0);
}

.cartList .cartItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cartList .cartItem:not(:last-of-type) {
    border-bottom: 1px solid #fff;
}

.cartList .cartItem img {
    width: 70px;
    height: 70px;
}

.cartList .cartItem .counting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartList .cartItem .counting span {
    color: #fff;
    background-color: var(--main-color);
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px;
    border-radius: 4px;
}

.cartList .btns {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.cartList .total {
    position: absolute;
    bottom: 49px;
    left: 10px;
}

.cartList .btns button {
    width: 50%;
    transition: .3s;
    border: none;
    padding: 10px;
}

.cartList .btns button.close {
    background-color: var(--main-color);
    color: #fff;
}

.cartList .btns button.checkout {
    background-color: var(--secondary-color);
    color: #fff;
}

.cartList .btns button.close:hover {
    background-color: rgb(191 46 46);
    ;
}

.cartList .btns button.checkout:hover {
    background-color: rgb(195 195 46);
    ;
}